.image-container{
    background: url('image/bg1.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-container{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form-box h4{
    font-weight: bold;
    color: #000000;
}

.form-box .form-input{
    position: relative;
}

.form-box .form-input input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border:none;
    border-radius: 5px;
    outline: none;
    background: rgb(192, 188, 188);
    padding-left: 45px;
}

.form-box .form-input span{
    position: absolute;
    top: 8px;
    padding-left: 20px;
    color: #777;
}

.form-box .form-input input::placeholder{
    padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid{
    border-bottom: 2px solid #48403d;
}

.form-box input[type="checkbox"]:not(:checked) + label:before{
    background: transparent;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
}

.form-box .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #48403d;
    border: 0px;
}

.forget-link, .register-link, .login-link{
    color: #ee1616;
    font-weight: bold;
}

.forget-link::after, .register-link:hover, .login-link::after{
    color: #e02121;

}

.form-box button[type="submit"]{
    border: none;
    width: 150px;
    height: 40px;
    border-right: 5px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    transition: 0.5s;
}

.form-box button[type="submit"]:hover{
    box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
}

.form-box .btn-social{
    color: #181313;
    border: 0px;
    display: inline-block;
    margin: 0px;
    margin-right: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-box .btn-facebook{
    background: #4866a8;
}

.form-box .btn-google{
    background: #da3f34;
}

.form-box .btn-twitter{
    background: #33ccff;
}

.form-box .btn-facebook:hover{
    background: #3d5785;
    color: #fff;
}

.form-box .btn-google:hover{
    background: #bf3b31;
    color: #fff;
}

.form-box .btn-twitter:hover{
    background: #2eb7e5;
    color: #fff;
}
.form-box .btn-apple{
    background: #998f8f;
}
/* css in forget pass---------------------------------------------------------------------------------*/
.log-in {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .log-in .div {
    background-color: #ffffff;
    width: 825px;
    height: 595px;
    position: relative;
  }
  
  .log-in .text-wrapper {
    position: absolute;
    top: 83px;
    left: 72px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .log-in .p {
    position: absolute;
    top: 139px;
    left: 72px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #0000005e;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .log-in .overlap-group {
    position: absolute;
    width: 481px;
    height: 71px;
    top: 366px;
    left: 142px;
    border-radius: 20px;
  }
  
  .log-in .text-wrapper-2 {
    position: absolute;
    width: 134px;
    top: 25px;
    left: 171px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .log-in .rectangle {
    position: absolute;
    width: 481px;
    height: 71px;
    top: 0;
    left: 0;
    background-color: #1498d5;
    border-radius: 20px;
  }
  
  .log-in .text-wrapper-3 {
    position: absolute;
    width: 90px;
    top: 25px;
    left: 185px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .log-in .if-you-didn-t {
    position: absolute;
    width: 274px;
    top: 469px;
    left: 243px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .log-in .span {
    color: #16131352;
  }
  
  .log-in .text-wrapper-4 {
    color: #f9001d;
  }
  
  .log-in .screenshot {
    position: absolute;
    width: 165px;
    height: 55px;
    top: 0;
    left: 7px;
    object-fit: cover;
  }
  
  .log-in .input-large {
    display: flex;
    flex-direction: column;
    width: 581px;
    height: 111px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 206px;
    left: 100px;
  }
  
  .log-in .form-title-default {
    position: relative;
    width: 510px;
    height: 17px;
  }
  
  .log-in .form-title {
    position: absolute;
    width: 510px;
    height: 24px;
    top: -5px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #425466;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .log-in .input {
    position: relative;
    width: 565px;
    height: 74px;
    background-color: #edf2f7;
    border-radius: 6px;
  }
  
  .log-in .container {
    position: relative;
    width: 550px;
    height: 46px;
    top: 14px;
    left: 20px;
  }
  .image {
  width: 165px;
  height: 55px;
}

.image .screenshot {
  position: fixed;
  width: 165px;
  height: 55px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.custom-control-label {
  color: black;
}
